<h1>Unesi tip opreme</h1>

<div class="akcija">
    <form action="" method="POST">
        <input type="text" placeholder="Naziv tipa opreme" name="tipOpreme">
        <button type="submit">Unesi tip opreme</button>
    </form>
</div>
<h1>{{poruka}}</h1>