<h1>Prijava za vaspitaca:</h1>

<form id="forma" action="login" method="POST">
    <input required type="text" placeholder="Korisnicko ime" name="korisnickoIme">
    <input required type="password" placeholder="Lozinka" name="lozinka">
    <button>Uloguj se</button>
</form>

<h1>{{poruka}}</h1>